@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

a {
  text-decoration: none;
  color: var(--text50);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: var(--text80);
  line-height: 1.75rem;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  color: var(--text);
}

h2 {
  color: var(--text);
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0.5rem 0;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
  color: var(--text80);
}

h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  line-height: 165%;
  color: var(--text50);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

li {
  font-weight: 600;
  color: var(--text50);
}

.divider {
  margin: 3rem auto;
  height: 4rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.5rem !important;
    line-height: 1.25em !important;
  }

  h2 {
    font-size: 2rem;
  }

  .divider {
    margin: 0 auto;
    height: 2rem;
  }
}
